body, html
{
    margin: 0;
    height: 100%;
    width: 100%;
}

.view-content
{
    text-align: center;
    padding: 1em;
    margin: 0 auto;
}

#available-wrapper
{
    border: 1px solid;
    margin-bottom: 70px;
    padding: 15px 15px 15px 25px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 22px;
    font-weight: bold;
    display: block;
    color: #4F8A10;
    background-color: #DFF2BF;
}